h1 {
  color: orangered;
}

body {
  background-color: lightgrey;
}

h2 {
  font-family: sans-serif;
}

p {
  color: blue;
}

ul {
  text-transform: capitalize;
}


ol {
  margin: inherit;
}

ul {
  color: seagreen;
}

ol {
  color: indianred;
}


